In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from operator import attrgetter
sns.set(rc={'figure.figsize':(20,9)}, style="whitegrid")

In [27]:
customers=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-nikolaj-kozlov-knb-e1837/Project/olist_customers_dataset.csv')
orders=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-nikolaj-kozlov-knb-e1837/Project/olist_orders_dataset.csv')
items=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-nikolaj-kozlov-knb-e1837/Project/olist_order_items_dataset.csv')

In [28]:
orders['order_purchase_timestamp']=pd.to_datetime(orders['order_purchase_timestamp'])
orders['order_approved_at']=pd.to_datetime(orders['order_approved_at'])
orders['order_delivered_carrier_date']=pd.to_datetime(orders['order_delivered_carrier_date'])
orders['order_delivered_customer_date']=pd.to_datetime(orders['order_delivered_customer_date'])
orders['order_estimated_delivery_date']=pd.to_datetime(orders['order_estimated_delivery_date'])
items['shipping_limit_date']=pd.to_datetime(items['shipping_limit_date'])

In [29]:
olist=customers.merge(orders,how='left',on='customer_id').merge(items,how='left',on='order_id')

In [30]:
#1
delivered_list=olist.query('order_status == "delivered"').dropna()
delivered_list

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06,1.0,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13,1.0,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10,1.0,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15,1.0,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113420,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25,1.0,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88
113421,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20,1.0,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16
113422,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02,1.0,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04
113423,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05,1.0,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07
113424,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,1.0,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78

In [31]:
delivered_list.groupby('customer_unique_id',as_index=False).agg({'order_id':'count'})\
        .rename(columns=({'order_id':'count_orders'})).query('count_orders == 1').nunique()

customer_unique_id    81728
count_orders              1
dtype: int64

In [ ]:
#Сколько у нас пользователей, которые совершили покупку только один раз?
#Покупкой будем считать те заказы, которые были доставлены (статус = delivered) и при этом прошли все временные отсечки
81728 пользователей

In [32]:
#2
non_delivered_list=olist[['order_id','order_purchase_timestamp','order_status']].query('order_status != "delivered"')
non_delivered_list["year_month"] = non_delivered_list["order_purchase_timestamp"].dt.to_period("M")
avg_month=non_delivered_list.groupby(['year_month','order_status'],as_index=False).agg({'order_id':'count'})\
        .pivot(columns='order_status',index='year_month',values='order_id').fillna(0)
avg_month.describe().round(3)

order_status,approved,canceled,created,invoiced,processing,shipped,unavailable
count,24.000,24.000,24.000,24.000,24.000,24.000,24.000
mean,0.125,29.417,0.208,15.042,14.875,49.417,25.417
std,0.448,20.568,0.588,10.166,13.049,32.991,21.715
min,0.000,2.000,0.000,0.000,0.000,0.000,0.000
25%,0.000,16.750,0.000,7.000,2.000,32.750,7.750
50%,0.000,27.500,0.000,16.000,11.000,50.000,21.000
75%,0.000,34.500,0.000,19.500,24.750,59.500,39.000
max,2.000,85.000,2.000,44.000,37.000,142.000,84.000

In [ ]:
#Сколько заказов в месяц в среднем не доставляется по разным причинам (вывести детализацию по причинам)?
approved - 0.125
canceled - 29.417
created - 0.208
invoiced - 15.042
processing - 14.875
shipped - 49.417
unavailable - 25.417

In [33]:
#3
week_product=olist[['product_id','order_id','order_purchase_timestamp','order_status']].query('order_status == "delivered"')

In [34]:
week_product['weekday']=week_product["order_purchase_timestamp"].dt.weekday
results=week_product.groupby(['product_id','weekday'],as_index=False).agg({'order_id':'count'})\
        .rename(columns=({'order_id':'count_orders'}))
max_order=results.loc[results.groupby('product_id')['count_orders'].idxmax()]
max_order

                             product_id  weekday  count_orders
0      00066f42aeeb9f3007548bb9d3f33c38        6             1
1      00088930e925c41fd95ebfe695fd2655        1             1
2      0009406fd7479715e4bef61dd91f2462        3             1
3      000b8f95fcb9e0096488278317764d19        2             1
5      000d9be29b5207b54e86aa1b1ac54872        1             1
...                                 ...      ...           ...
59944  fff6177642830a9a94a0f2cba5e476d1        5             1
59946  fff81cc3158d2725c0655ab9ba0f712c        0             1
59947  fff9553ac224cec9d15d49f5a263411f        4             1
59948  fffdb2d0ec8d6a61f0a0a0db3f25b441        1             2
59952  fffe9eeff12fcbd74a2f2b007dde0c58        2             1

[32216 rows x 3 columns]

In [ ]:
#По каждому товару определить, в какой день недели товар чаще всего покупается
см. max_order

In [35]:
#4
delivered_list["year_month"] = delivered_list["order_purchase_timestamp"].dt.to_period("M")
delivered_list['days_of_month'] = delivered_list["year_month"].dt.days_in_month
delivered_list['number_of_weeks'] = (delivered_list['days_of_month']/7).round(3)
delivered_list

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,year_month,days_of_month,number_of_weeks
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-06-05,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,2017-05,31,4.429
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,2018-02-06,1.0,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,2018-01,31,4.429
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,2018-06-13,1.0,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,2018-05,31,4.429
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,2018-04-10,1.0,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,2018-03,31,4.429
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,2018-08-15,1.0,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,2018-07,31,4.429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113420,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,...,2018-04-25,1.0,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88,2018-04,30,4.286
113421,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,...,2018-04-20,1.0,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16,2018-04,30,4.286
113422,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,...,2018-05-02,1.0,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04,2018-04,30,4.286
113423,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,...,2017-12-05,1.0,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07,2017-11,30,4.286
113424,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,...,2018-01-08,1.0,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,2017-12,31,4.429

In [36]:
avg_month=delivered_list.groupby(['customer_unique_id','year_month','number_of_weeks'],as_index=False).agg({'order_id':'count'})\
        .rename(columns=({'order_id':'count_orders'}))
avg_month['avg_order']=(avg_month['count_orders']/avg_month['number_of_weeks']).round(3)
avg_month=avg_month.pivot(index='customer_unique_id',columns='year_month',values='avg_order').fillna(0)

In [40]:
avg_month

year_month,2016-09,2016-10,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,...,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08
customer_unique_id,,,,,,,,,,,,,,,,,,,,,
0000366f3b9a7992bf8c76cfdf3221e2,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.226,0.0,0.0,0.0
0000b849f77a49e4a4ce2b2a4ca5be3f,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.226,0.0,0.0,0.0
0000f46a3911fa3c0805444483337064,0.0,0.0,0.0,0.0,0.00,0.226,0.0,0.000,0.000,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
0000f6ccb0745a6a4b88665a16c9f078,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
0004aac84e0df4da2b147fca70cf8255,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,...,0.233,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffcf5a5ff07b0908bd4e2dbc735a684,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.000,0.467,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
fffea47cd6d3cc0a88bd621562a9d061,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,...,0.000,0.226,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
ffff371b4d645b6ecea244b27531430a,0.0,0.0,0.0,0.0,0.25,0.000,0.0,0.000,0.000,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
ffff5962728ec6157033ef9805bacc48,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.226,0.0,0.0,0.0
ffffd2657e2aad2907e67c3e9daecbeb,0.0,0.0,0.0,0.0,0.00,0.000,0.0,0.226,0.000,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0

In [ ]:
#Сколько у каждого из пользователей в среднем покупок в неделю (по месяцам)? 
см. avg_month

In [ ]:
#5
#Когортный анализ

In [37]:
delivered_list["cohort"] = delivered_list.groupby('customer_unique_id')['order_purchase_timestamp'].transform('min').dt.to_period("M")
delivered_list

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,year_month,days_of_month,number_of_weeks,cohort
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,1.0,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,2017-05,31,4.429,2017-05
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,1.0,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,2018-01,31,4.429,2018-01
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,1.0,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,2018-05,31,4.429,2018-05
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,1.0,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,2018-03,31,4.429,2018-03
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,1.0,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,2018-07,31,4.429,2018-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113420,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,...,1.0,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88,2018-04,30,4.286,2018-04
113421,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,...,1.0,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16,2018-04,30,4.286,2018-04
113422,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,...,1.0,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04,2018-04,30,4.286,2018-04
113423,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,...,1.0,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07,2017-11,30,4.286,2017-11
113424,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,...,1.0,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,2017-12,31,4.429,2017-12

In [49]:
delivered_list_c = delivered_list.query("'2017-01' <= cohort <= '2017-12'") \
    .groupby(["cohort", "order_purchase_timestamp"], as_index=False) \
    .agg({"customer_unique_id": "nunique"})\
    .rename(columns=({'cohort':'first_purchase'}))
delivered_list_c

      first_purchase order_purchase_timestamp  customer_unique_id
0            2017-01      2017-01-05 12:01:20                   1
1            2017-01      2017-01-05 12:06:36                   1
2            2017-01      2017-01-05 12:09:08                   1
3            2017-01      2017-01-05 12:11:23                   1
4            2017-01      2017-01-05 12:14:58                   1
...              ...                      ...                 ...
43891        2017-12      2018-08-12 16:08:03                   1
43892        2017-12      2018-08-15 14:11:19                   1
43893        2017-12      2018-08-15 18:01:23                   1
43894        2017-12      2018-08-22 01:37:38                   1
43895        2017-12      2018-08-24 10:16:19                   1

[43896 rows x 3 columns]

In [50]:
delivered_list_c["order_purchase_timestamp"] = pd.to_datetime(delivered_list_c["order_purchase_timestamp"]).dt.to_period('M')

In [51]:
delivered_list_c['period'] = (delivered_list_c.order_purchase_timestamp - delivered_list_c.first_purchase).apply(attrgetter('n'))
delivered_list_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43896 entries, 0 to 43895
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   first_purchase            43896 non-null  period[M]
 1   order_purchase_timestamp  43896 non-null  period[M]
 2   customer_unique_id        43896 non-null  int64
 3   period                    43896 non-null  int64
dtypes: int64(2), period[M](2)
memory usage: 1.7 MB

In [52]:
delivered_list_cohort = delivered_list_c.groupby(['first_purchase','period'],as_index=False).agg({'customer_unique_id':'count'})\
        .pivot_table(index='first_purchase', columns = 'period', values = 'customer_unique_id').fillna(0)
delivered_list_cohort

period,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19
first_purchase,,,,,,,,,,,,,,,,,,,
2017-01,742.0,2.0,2.0,1.0,3.0,1.0,3.0,1.0,1.0,0.0,3.0,1.0,5.0,3.0,1.0,1.0,2.0,3.0,1.0
2017-02,1636.0,3.0,5.0,2.0,7.0,2.0,4.0,3.0,1.0,3.0,2.0,5.0,2.0,3.0,2.0,1.0,1.0,3.0,0.0
2017-03,2533.0,11.0,9.0,12.0,9.0,4.0,4.0,8.0,8.0,2.0,9.0,3.0,5.0,3.0,4.0,6.0,2.0,3.0,0.0
2017-04,2276.0,15.0,6.0,5.0,6.0,6.0,9.0,7.0,7.0,4.0,6.0,2.0,1.0,1.0,2.0,2.0,4.0,0.0,0.0
2017-05,3496.0,17.0,16.0,10.0,10.0,12.0,16.0,5.0,9.0,11.0,9.0,12.0,8.0,1.0,6.0,7.0,0.0,0.0,0.0
2017-06,3078.0,16.0,13.0,13.0,10.0,12.0,11.0,7.0,4.0,6.0,9.0,12.0,5.0,6.0,10.0,0.0,0.0,0.0,0.0
2017-07,3800.0,21.0,13.0,9.0,13.0,8.0,12.0,4.0,8.0,11.0,8.0,12.0,5.0,9.0,0.0,0.0,0.0,0.0,0.0
2017-08,4107.0,29.0,16.0,11.0,14.0,23.0,12.0,11.0,6.0,6.0,10.0,8.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-09,4051.0,28.0,22.0,15.0,18.0,13.0,9.0,10.0,11.0,7.0,10.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-10,4370.0,33.0,11.0,4.0,11.0,9.0,9.0,17.0,13.0,8.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-11,7097.0,42.0,27.0,12.0,12.0,13.0,9.0,13.0,9.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-12,5373.0,11.0,16.0,19.0,14.0,11.0,9.0,1.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
delivered_list_cohort=round(delivered_list_cohort.div(delivered_list_cohort.iloc[:,0], axis = 0).mul(100),3)

In [54]:
ur_style = (delivered_list_cohort
            .style
            .set_caption('User retention by cohort')  # добавляем подпись
            .background_gradient(cmap='viridis')  # раскрашиваем ячейки по столбцам
            .highlight_null('white'))  # делаем белый фон для значений NaN
ur_style

In [ ]:
#На третий месяц лучший результат у когорты 2017-09 (0,543%)

In [ ]:
#6

In [55]:
last_day = delivered_list.order_purchase_timestamp.max()

Timestamp('2018-08-29 15:00:37')

In [57]:
RFM = delivered_list.groupby('customer_unique_id') \
    .agg({'order_purchase_timestamp': lambda x: (last_day - x.max()).days, 'product_id': lambda x: len(x), 'price': lambda x: x.sum()}) \
    .rename(columns={'order_purchase_timestamp': 'R', 'product_id': 'F', 'price': 'M'})
RFM

                                    R  F        M
customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2  111  1   129.90
0000b849f77a49e4a4ce2b2a4ca5be3f  114  1    18.90
0000f46a3911fa3c0805444483337064  536  1    69.00
0000f6ccb0745a6a4b88665a16c9f078  320  1    25.99
0004aac84e0df4da2b147fca70cf8255  287  1   180.00
...                               ... ..      ...
fffcf5a5ff07b0908bd4e2dbc735a684  446  2  1570.00
fffea47cd6d3cc0a88bd621562a9d061  261  1    64.89
ffff371b4d645b6ecea244b27531430a  567  1    89.90
ffff5962728ec6157033ef9805bacc48  118  1   115.00
ffffd2657e2aad2907e67c3e9daecbeb  483  1    56.99

[93336 rows x 3 columns]

In [ ]:
#Разобьем на диапазон от 1 до 5: 0-20, 20-40, 40-60, 60-80, 80-100%

In [59]:
seg = RFM.quantile(q=[0.20, 0.40, 0.60, 0.80]).to_dict()
seg

{'R': {0.2: 91.0, 0.4: 176.0, 0.6: 267.0, 0.8: 381.0},
 'F': {0.2: 1.0, 0.4: 1.0, 0.6: 1.0, 0.8: 1.0},
 'M': {0.2: 39.9, 0.4: 69.9, 0.6: 109.9, 0.8: 179.9}}

In [62]:
#Сегментируем всех покупателей с помощью функции
def customer_seg (x,y,z):
    if x <= z[y][0.20]:
        return 1
    elif x <= z[y][0.40]:
        return 2
    elif x <= z[y][0.60]:
        return 3
    elif x <= z[y][0.80]:
        return 4
    else:
        return 5

In [63]:
RFM['R_seg'] = RFM['R'].apply(customer_seg, args=('R', seg, ))
RFM['F_seg'] = RFM['F'].apply(customer_seg, args=('F', seg, ))
RFM['M_seg'] = RFM['M'].apply(customer_seg, args=('M', seg, ))

In [64]:
RFM['RFM_overall'] = RFM.R_seg.map(str) + RFM.F_seg.map(str) + RFM.M_seg.map(str)
RFM

,R,F,M,R_seg,F_seg,M_seg,RFM_overall
customer_unique_id,,,,,,,
0000366f3b9a7992bf8c76cfdf3221e2,111,1,129.90,2,1,4,214
0000b849f77a49e4a4ce2b2a4ca5be3f,114,1,18.90,2,1,1,211
0000f46a3911fa3c0805444483337064,536,1,69.00,5,1,2,512
0000f6ccb0745a6a4b88665a16c9f078,320,1,25.99,4,1,1,411
0004aac84e0df4da2b147fca70cf8255,287,1,180.00,4,1,5,415
...,...,...,...,...,...,...,...
fffcf5a5ff07b0908bd4e2dbc735a684,446,2,1570.00,5,5,5,555
fffea47cd6d3cc0a88bd621562a9d061,261,1,64.89,3,1,2,312
ffff371b4d645b6ecea244b27531430a,567,1,89.90,5,1,3,513
ffff5962728ec6157033ef9805bacc48,118,1,115.00,2,1,4,214
ffffd2657e2aad2907e67c3e9daecbeb,483,1,56.99,5,1,2,512

In [ ]:
#Например, RFM-сегмент 214 (recency=2, frequency=1, monetary=4) 
#имеет границы метрик recency от 91 до 176 дней, frequency 1 заказ в неделю, monetary от 39,9 до 69,9 рублей в неделю.
#Такие пользователи покупали достаточно давно, всего один раз, но на сумму выше среднего.